*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    margin-top: 100px;
}
.container h2{
    font-size: 30px;
    font-weight: bold;
    padding-left: 7px;
}
.m-top{
    margin-top: 30px;
    border: 5px solid black;
    padding: 15px;
    border-radius: 15px;
}
.btn{
    width: 50px;
    padding: 15px 15px;
    margin: 7px 10px;
    font-weight: bold;
    font-size: 18px;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}
.input{
    font-size: 17.5px;
    width:240px;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
}

@media screen and (max-width : 370px){
    .container h2{
        font-size: 24.5px;
    }
    .btn {
        width: 45px;
        padding: 7px 10px;
        margin: 5px 8px;
        font-weight: bold;
        font-size: 15px;
    }
    .input{
        font-size: 15.5px;
        width:210px;
        padding: 8px;
        font-weight: bolder;
    }
    .inputs{
        margin-bottom: 7px;
    }
    .m-top{
        margin-top: 25px;
        border: 5px solid black;
        padding: 10px;
        border-radius: 10px;
    }
}